* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#homepagebody {
    background-image: url('https://images.unsplash.com/photo-1510519138101-570d1dca3d66?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMGxhcHRvcHxlbnwwfHwwfHx8MA%3D%3D');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#resumepagebody {
    background-image: url('https://i.pinimg.com/originals/63/e7/5e/63e75e7e1d99bafe0b6f9a18b9ef51f4.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.password-container {
    position: relative;
  }
  
  .password-container input {
    padding-right: 30px; /* Ensure space for the eye icon */
  }
  
  .password-container span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }